@import "../Theme/variables.scss";

.cam-body {
  overflow: hidden;
  background-color: $metrobank;
  .back-nav {
    background-color: $metrobank;
    // background-image: url("../Assets/bg-header-ben.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 82px;
    position: fixed;
    color: $blue_gray_900;
    z-index: 9;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    .title {
      text-align: center;
      letter-spacing: 0;
      margin-bottom: 9px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      font-family: "Roboto";
    }
    .icon {
      position: absolute;
      left: 20px;
      bottom: 15px;
      img {
        color: white;
      }
    }

    .changeCam {
      position: absolute;
      right: 20px;
      background: #26a69a;
      bottom: 8px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  .back-nav-info {
    background-color: $metrobank;

    background-repeat: no-repeat;
    height: 82px;
    position: fixed;
    color: $blue_gray_900;
    z-index: 9;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    
    padding: 55px 0px 0px 20px;

    .title {
      text-align: center;
      letter-spacing: 0;
      margin-left: 25%;
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      

    }
    .icon {

      left: 20px;
      bottom: 15px;
      img {
        color: white;
      }
    }
  }
  .camera {
    width: 100%;
    background-color: #39363d;
    margin-top: 82px; //tamaño del header
    height: calc(100vh - 83px - 214px); // header and footer
    /* display: flex;
    justify-content: center; */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
 
    img {
      margin-top: 0;
      width: 100%;
      /* height: 100%; */
    }
    video{
      width: 100%;
    }
  }
  .content-camera {
    width: 100%;
    padding-top: 83px;
    height: 100vh; // header and footer
    display: flex;
    justify-content: center;
  }
  .camMask {
    width: 100%;
    height: calc(100vh - 83px - 214px);
    position: absolute;
    top: 86px;
  }
}
