.cam-body {
  overflow: hidden;
  background-color: black;
  .back-nav {
    background-image: url("../Assets/bg-header-ben.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 82px;
    position: fixed;
    color: white;
    z-index: 9;

    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    .title {
      text-align: center;
      font-size: 18px;
      letter-spacing: 0;
      margin-bottom: 9px;
      font-family: 'Roboto';
    }
    .icon {
      position: absolute;
      left: 20px;
      bottom: 15px;
      img {
        color: white;
      }
    }

    .changeCam {
      position: absolute;
      right: 20px;
      background: #26a69a;
      bottom: 8px;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
  .camera {
    width: 100%;
    background-color: #39363D;
    margin-top: 82px; //tamaño del header
    height: calc(100vh - 83px - 214px); // header and footer
    display: flex;
    justify-content: center;
    video {
      height: calc(100vh - 83px - 214px);
      width: auto;
    }
    img {
      margin-top: 0;
      width: 100%;
    }
  }
  .content-camera {
    width: 100%;
    background-color: white;
    margin-top: 82px; //tamaño del header
    height: calc(100vh - 83px); // header and footer
    display: flex;
    justify-content: center;
  }
  .camMask {
    width: 100%;
    height: calc(100vh - 83px - 214px);
    position: absolute;
  }
}
