.camera-footer2 {
  width: 100%;
  height: 216px;
  background-color: black;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-image: url("../../../Assets/footer.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: white;
    margin: 4px;
    &.loading{
      opacity: 0.5;
    }
    &.done{
    margin-bottom: 64px;

    }
    span {
    font-weight: 700;

      color: #26a69a;
    }
  }
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  .sendButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 16px;
    button {
      font-size: 15px;
      height: 44px;
      border-radius: 22px;
      border: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      &:disabled{
        opacity: 0.5;
      }
      &.grey {
        background: #FFFFFF;
        border: 2px solid #E7E7ED;
        color: #364156;
      }
      &.blue {
        background-color: #26A69A;
        color: #ffffff;
      }
    }
  }

  .greybutton {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(179, 179, 179, 0.479);
    input {
      display: none;
    }
    &.big {
      width: 74px;
      height: 74px;
    }
  }

  .circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    &.grey {
      width: 40px;
      height: 40px;
      background-color: black;
      &:hover {
        background-color: #3b3b3b;
      }
      &:active {
        background-color: #7a7a7a;
      }
    }

    &:hover {
      background-color: rgb(0, 128, 115);
    }
    &:active {
      background-color: rgb(0, 188, 169);
    }
  }
}
