.page-selfie {
  .camMask {
    background-image: url('../../resources/others/blur-photo-selfie.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110vh;
    position: absolute;
  }
}
