@import "../../../Theme/variables.scss";
.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  .titleInfo {
    width: calc(100vw - 20px);
    padding: 20px;
    margin: 0;
  }

  .info-rows {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    color: #818999;

    .info-col {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      align-items: center;
      .label {
        width: calc(100vw - 20px);
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e7e7ed;
        padding-bottom: 5px;
        margin: 6px 0;
        font-size: 15px;
        p.data {
          font-weight: 600;
          color: #364156;
        }
      }
    }
  }
  .buttons {
    padding: 20px;

    display: flex;
    gap: 16px;
    button {
      width: 50%;
      height: 48px;
      background: #ffffff;
      border: 2px solid #e7e7ed;
      border-radius: 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #364156;
      &.green {
        background: #26a69a;
        border: none;
        color: white;
      }
    }
  }
}
/* @media (min-width: 1200px) {
  .info-container {
    height: 88vh;

    max-width: 700px;
    margin: auto;
    // justify-content: center;
    margin-top: 100px;
    .title {
      max-width: 700px;
      font-size: 1.75rem;
      line-height: 2.5rem;
      text-align: center;
      margin-bottom: 68px;
    }
    .info-row {
      flex-direction: row;
      width: 700px;
      // margin: auto;
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    .buttons {
      width: 700px;
      display: flex;
      justify-content: flex-end;
    }
  }
} */
