@import '../../../Theme/variables.scss';
.user-info-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .editar-ben {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .editar-ben-content {
      display: flex;
      color: #4864e6;
    }
  }
  .buttons-repeat {
    &.ben {
      display: flex;
    }
  }

  .title {
    width: calc(100vw - 20px);
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .info-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;

    .info-col {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      align-items: center;
      .label {
        width: calc(100vw - 20px);
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dde2e9;
        padding-bottom: 5px;
        margin: 6px 0;
        font-size: 15px;

        .data {
          font-weight: bold;
        }
      }
    }
  }

  .edit-row {
    width: 100%;
    height: 100px;
    position: relative;

    align-items: center;
    padding: 0px 20px;
    margin-top: 30px;

    .btn-edit {
      color: #006ef8;
      cursor: pointer;
    }
    &::before {
      content: '';
      width: calc(100% - 20px);
      height: 2px;
      position: absolute;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      background-color: #dde2e9;
    }
    .title {
      font-size: 24px;
      font-weight: bold;
    }
    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .img-preview {
        object-fit: contain;
        width: 45px;
        height: 45px;
        border-radius: 6px;
        margin-bottom: 12px;
      }
    }
    .content-button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0px 3px;
    }
  }

  .edit-wrapper {
    width: 100%;
    height: 435px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    .edit-col {
      width: 100%;
      height: 195px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;

      .content {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0px 50px;
        .img-wrapper {
          height: 72px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #d9d9d9;
          margin-top: 20px;
          padding: 0px 15px;

          .img-preview {
            object-fit: contain;
            width: 45px;
            height: 45px;
            border-radius: 6px;
          }

          .text-edit {
            cursor: pointer;
            color: #006ef8;
          }
        }
      }

      .separate {
        width: 1px;
        height: 200px;
        background-color: #dde2e9;
      }
    }
  }
}
/* @media (min-width: 1200px) {
  .info-container {
    height: 88vh;

    max-width: 700px;
    margin: auto;
    // justify-content: center;
    margin-top: 100px;
    .title {
      max-width: 700px;
      font-size: 1.75rem;
      line-height: 2.5rem;
      text-align: center;
      margin-bottom: 68px;
    }
    .info-row {
      flex-direction: row;
      width: 700px;
      // margin: auto;
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    .buttons {
      width: 700px;
      display: flex;
      justify-content: flex-end;
    }
  }
} */
