@import "../../Theme/variables.scss";

.page-SuccessPage {
  .body-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #E2E8F0;
    justify-content: space-between;




    h3 {
      text-align: center;
    }

  
    .completed {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
   
     

      span {
        color: #218380;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
      }
      .menssage {
        width: 353px;
        color: $blue_gray_900;
        font-size: 15px;
        .negrita {
          font-weight: 600;
          line-height: 150%;
        }
      }
    }

    .circulo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      display: flex;
      flex-direction: column;
      .spinner {
        color: $metrobank_2;
        margin-bottom: 10px;
      }
    }


    .button-private {
      background-color: transparent;
      color: #218380;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 12px;
      gap: 4px;
      text-decoration: none;
      width: 335px;
      height: 48px;
      border-radius: 24px;
      border: 1px solid #218380;
    }
    .button-next {
        background-color: #218380;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px;
        gap: 4px;
        text-decoration: none;
        width: 335px;
        height: 48px;
        border-radius: 24px;


    }
    
    img {
      margin-top: 92px;
    }
  }
}
