.page-SuccessPage{
    .body-success{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        justify-content: space-between;
        h3{
            text-align: center;
        }
        .completed, .succeed{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        img{
            margin-top: 92px;
        }
    }
}