.page-docid {
  .camMask {
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    background-size: auto;
    background-image: url("../../resources/others/bigDocMask.svg");
    @media (max-width: 768px) {
      background-image: url("../../resources/others/largeDocMask.svg");
    }
    @media (max-width: 540px) {
      background-image: url("../../resources/others/regularDocMask.svg");
    }
    @media (max-width: 374px) {
      background-image: url("../../resources/others/smallDocMask.svg");
    }
    /*
        */
  }
}
