.select-input {
  position: relative;
  input {
    width: 100%;
    border: 1px solid #c1c5cd;
    height: 48px;
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
   background-color: white;
    &::placeholder {
      color: #c1c5cd;
    }
  }
  svg {
    position: absolute;
    right: 21px;
    top: 22px;
  }
  .optionList {
    position: absolute;
    width: 100%;
    z-index: 10;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #c1c5cd;
    height: 300px;
    overflow: auto;
    display: none;
    &[data-variation="show"] {
      display: block;
    }
    .options {
      border-bottom: 1px solid #e7e7ed;
      padding: 5px;
      &[data-variation="selected"] {
        background-color: #26a69a;
        color: #fff;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
