body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.take-photo-container {
  background-color: black;
  video {
    width: 100%;
    /* mobile viewport bug fix */
    //44px tamaño de un navigation tab
    position: fixed;
    top: 0;
  }
}

.show-photo-container {
  #image-preview-container {
    background-color: black;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
